<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emotion Detection - Page 2</title>
    <link rel="stylesheet" href="static\page.css">
</head>
<body>
    
    <h1 style="text-align: center;">Emotion Detection - My Emotion Model</h1>

     <!-- Camera selection buttons -->
     <div style="text-align: center; margin-bottom: 20px;">
        <h3>Select Camera</h3>
        <button class="btn" onclick="changeCamera(0)">Camera 1</button>
        <button class="btn" onclick="changeCamera(1)">Camera 2</button>
    </div>
      <!-- Live video feed -->
    <div class="video-label">Live Video Feed</div>
    <div id="video-container" style="text-align: center;">
        <img id="live-video" src="{{ url_for('video_feed_fer') }}" />
    </div>
    <div>
         <!-- Training graph -->
        <div style="text-align: center; margin-top: 30px;">
        <h3>Training Graph - My Emotion Model</h3>
        <img src="/training_graph" alt="Training Graph">
    </div>
    <div style="text-align: center; margin-top: 30px;">
        <h3>My Emotion Model ROC Curve</h3>
        <img src="static/images/roc_curve_my_emotion_model.png" alt="My Emotion ROC Curve">
        <p>Log Loss: 1.75</p>
    </div>
    <!-- Go back button -->
    <div style="text-align: center; margin-top: 30px;">
        <button class="animated-button" onclick="window.location.href='/'">
            <span>Go Back to Home</span>
            <span></span>
        </button>
    </div>
    <script src="static/page.js" defer></script>
</body>
</html>
